<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
     <settings>
         <!-- changes from the defaults -->
         <setting name="lazyLoadingEnabled" value="false" />
     </settings>
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <!--设置数据类型-->
            <property name="dialect" value="mysql"/>
            <!-- 分页参数合理化
                当参数pageNum（当前页面）小于1的时候，会查询第一页数据，
                当参数pageNum大于总页数的时候，会查询最后一页的数据
                reasonable默认为false-->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>
</configuration>  